[user]
	name = Steve Anderson
	email = stevenix@protonmail.com
	signingkey = F14DDF42CE6F4818
[includeIf "gitdir:~/src/work/"]
        path = ~/src/work/.gitconfig_work
[core]
	excludesfile = ~/.gitignore
	editor = vim
[init]
	defaultBranch = main
[commit]
	gpgsign = false
[gpg]
	program = gpg
